ion-content {
  --background: rgb(63, 245, 13);
}
ion-footer > ion-button {
    --background: rgb(255, 10, 10);
    --color: rgb(241, 218, 12);
  }
  form > ion-button {
    --background: rgb(255, 10, 10);
    --color: rgb(241, 218, 12);
  }
  form > ion-item {
    --background: rgb(18, 182, 242);
    --color: rgb(238, 71, 5);
  }
  validation.message.password {
    --background: rgb(47, 249, 20);
    --color: rgb(164, 175, 12);
  }
  form  ion-content{
    --background: rgb(239, 92, 13);
  }