ion-content {
  --background: rgb(14, 10, 240);
}
form > ion-item {
    --background: rgb(81, 242, 18);
    --color: rgb(5, 5, 4);
  }

  form > ion-button {
    --background: rgb(242, 59, 18);
    --color: rgb(250, 250, 250);
  }